extends layout
block extra_header
    link(rel="stylesheet" href="./accountedit.css")
block content
    h3(class="center") Editing #{user.UserName}'s details
    form(id='form' method='post' action='/accountedit')
        div(class="formInput")
            label Email:    
            input(id="email" type='email' name='Email' required)
        div(class="formInput")
            label Age:   
            input(id="age" type='number' name='Age' required min="13" max="110" step="1")
            br
        div(class="question")
            fieldset
                legend Question 1
                p When two particles are entangled and it is observed that one has its spin up, how long does it take for the other’s spin to be down?
                div(class="answer")
                    input(id="q0-a" name="Ans1" type="radio" value="A")
                    label(for="q0-a") 1 nanosecond
                br
                div(class="answer")
                    input(id="q0-b" name="Ans1" type="radio" value="B")
                    label(for="q0-b") However long it takes light to travel between them
                br
                div(class="answer")
                    input(id="q0-c" name="Ans1" type="radio" value="C")
                    label(for="q0-c") Instantaneously
                br
                div(class="answer")
                    input(id="q0-d" name="Ans1" type="radio" value="D")
                    label(for="q0-d") 1 microsecond
        div(class="question")
            fieldset
                legend Question 2
                p What was the first antiparticle to be discovered?
                div(class="answer")
                    input(id="q1-a" name="Ans2" type="radio" value="A")
                    label(for="q1-a") Positron
                br
                div(class="answer")
                    input(id="q1-b" name="Ans2" type="radio" value="B")
                    label(for="q1-b") Antineutrino
                br
                div(class="answer")
                    input(id="q1-c" name="Ans2" type="radio" value="C")
                    label(for="q1-c") Antiproton
                br
                div(class="answer")
                    input(id="q1-d" name="Ans2" type="radio" value="D")
                    label(for="q1-d") X-ray
        div(class="question")
            fieldset
                legend Question 3
                p The square of a particle's wave function describes the probability of what about the particle?
                div(class="answer")
                    input(id="q2-a" name="Ans3" type="radio" value="A")
                    label(for="q2-a") That it has a specific spin
                br
                div(class="answer")
                    input(id="q2-b" name="Ans3" type="radio" value="B")
                    label(for="q2-b") That it will decay
                br
                div(class="answer")
                    input(id="q2-c" name="Ans3" type="radio" value="C")
                    label(for="q2-c") That it will disappear
                br
                div(class="answer")
                    input(id="q2-d" name="Ans3" type="radio" value="D")
                    label(for="q2-d") That it is at a particular place
        input(type='submit' value='Update Account' id="submitButton")