extends layout
block content
    div(id="canvasDiv")
        a Question 1
        canvas(id="myCanvas1")
    div(id="canvasDiv")
        a Question 2
        canvas(id="myCanvas2")
    div(id="canvasDiv")
        a Question 3
        canvas(id="myCanvas3")
        
    script(src="chartScript.js")