doctype html
html
    head
      link(href='style.css', rel='stylesheet')
    body
        header
            div(id="headertop")
                a(id="logo" href="/") The Data Express
            div(id="navbar")
        div(id='content')
            block content
