doctype html
html
    head
      link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
      link(href='style.css' rel='stylesheet')
      block special_css
    body
        header
            div(id="headertop")
                a(id="logo" href="/") ArbitrarySurvey
        div(id='content')
            block content
