doctype html
html
    head
<<<<<<< HEAD
      link(href='style.css', rel='stylesheet')
    body
        header
            div(id="headertop")
                a(id="logo" href="/") The Data Express
            div(id="navbar")
        div(id='content')
            block content
    footer
        div(id='footerContent')
            span 2017
=======
    body
        div(id='content')
            block content
>>>>>>> a4d1e20950d511f9358c7bf32fd5c7d41bff60ce
