extends layout
block special_css
    link(rel="stylesheet", href="./login.css")
block content
    h3 Login
        form(id='form' method='post' action='/login')
            label UserName 
            input(type='text' name='Name')
            br
            label Password 
            input(type='password' name='Pass')
            br
            input(type='submit' value='submit')