extends layout
block extra_header
    link(rel="stylesheet", href="./login.css")
block content
    form(id='form' method='post' action='/login')
        label UserName 
        input(type='text' name='Name')
        br
        label Password 
        input(type='password' name='Pass')
        br
        input(type='submit' value='Login' id="submitButton")