/*
    Main Colors:
        Navy Blue   - #18121E
        Gunmetal    - #233237
        Rusty Red   - #984B43
        Warm Yellow - #EAC67A
*/


html{
    color: Black;
}
#headertop {
    background: #233237;
    height: 60px;
    text-align: center;
    display:table;
    width:100%;
    color: #EAC67A;
}
#logo {
    display: table-cell;
    vertical-align: middle;
    font-size: 28pt;
    color: white;
}

#navbar {
    background: #984B43;
    height: 20px;
    color: white;
}

footer {
    background: #233237;
    height: 20px;
    position: absolute;
    color:white;
    text-align: center;
    display:table;
    left:0;
    bottom:0;
    width: 100%;
}

#footerContent {
    display: table-cell;
    vertical-align: middle;
}